<ul class="nav justify-content-center  main-color">  		
  <li class="nav-item">
		<%= link_to show_all_path do %>
			<div class="nav-link main-color">Top 100</div>
    <% end %>
	</li>
	<li class="nav-item">
		<%= link_to root_path do %>
			<div class="nav-link main-color">Create Short Link</div>
    <% end %>
	</li>
</ul>